* {
    margin: 0;
    padding: 0;
}
.menuIcon{
    font-size: 50px;
    border: 1px;
    padding: 10px;
}
.menuList{
    display: none;
}
.subMenulist{
    display: none;
}



@media (min-width: 768px){
    .menuIcon{
        display: none;
    }
   
    
    
    .menuList{
        list-style: none;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        top: 20px;        
    }
    .subMenu a{
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        margin: 10px 20px;
        background-color: cadetblue;
    }
    .subMenu a:hover{
        color: aliceblue;
    }
    .subMenu:focus-within{
        
        .subMenulist{
            display: block;
            list-style: none;
            margin-top: 10px;
            position: absolute;
            }
    }
    .subMenulist li{
        border: 1px solid black;
        background-color: rgb(157, 224, 202);
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }
}
